services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  spring-app1:
    env_file:
      - .env
    image: ${DOCKER_USER}/backend:${BUILD_NUMBER}
    container_name: spring-app
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: "local,redis-sentinel"
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      REDIS_SENTINEL_MASTER: ${REDIS_SENTINEL_MASTER}
      REDIS_SENTINEL_NODES: "${REDIS_SENTINEL_NODES}"
      SERVER_PORT: "8081"
    volumes:
      - ./logs/app1:/app/logs
    networks:
      - app-network
    depends_on:
      mysql:
        condition: service_healthy
      redis-sentinel1:
        condition: service_started
      redis-sentinel2:
        condition: service_started
      redis-sentinel3:
        condition: service_started
#
#  redis-master:
#    image: redis:latest
#    container_name: redis-master
#    command: redis-server --requirepass ${REDIS_PASSWORD}
#    ports:
#      - "6379:6379"
#    volumes:
#      - redis-master-data:/data
#    networks:
#      - app-network
#    healthcheck:
#      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
#      interval: 5s
#      timeout: 3s
#      retries: 5
#
#  redis-slave1:
#    image: redis:latest
#    container_name: redis-slave1
#    command: redis-server --slaveof redis-master 6379 --requirepass ${REDIS_PASSWORD} --masterauth ${REDIS_PASSWORD}
#    ports:
#      - "6380:6379"
#    volumes:
#      - redis-slave1-data:/data
#    networks:
#      - app-network
#    depends_on:
#      redis-master:
#        condition: service_healthy
#
#  redis-slave2:
#    image: redis:latest
#    container_name: redis-slave2
#    command: redis-server --slaveof redis-master 6379 --requirepass ${REDIS_PASSWORD} --masterauth ${REDIS_PASSWORD}
#    ports:
#      - "6381:6379"
#    volumes:
#      - redis-slave2-data:/data
#    networks:
#      - app-network
#    depends_on:
#      redis-master:
#        condition: service_healthy
#
#  redis-sentinel1:
#    image: redis:latest
#    container_name: redis-sentinel1
#    command: redis-sentinel /etc/redis/sentinel.conf
#    ports:
#      - "26379:26379"
#    volumes:
#      - ./redis/sentinel1.conf:/etc/redis/sentinel.conf
#    networks:
#      - app-network
#    depends_on:
#      redis-master:
#        condition: service_healthy
#      redis-slave1:
#        condition: service_started
#      redis-slave2:
#        condition: service_started
#
#  redis-sentinel2:
#    image: redis:latest
#    container_name: redis-sentinel2
#    command: redis-sentinel /etc/redis/sentinel.conf
#    ports:
#      - "26380:26379"
#    volumes:
#      - ./redis/sentinel2.conf:/etc/redis/sentinel.conf
#    networks:
#      - app-network
#    depends_on:
#      redis-master:
#        condition: service_healthy
#      redis-slave1:
#        condition: service_started
#      redis-slave2:
#        condition: service_started
#
#  redis-sentinel3:
#    image: redis:latest
#    container_name: redis-sentinel3
#    command: redis-sentinel /etc/redis/sentinel.conf
#    ports:
#      - "26381:26379"
#    volumes:
#      - ./redis/sentinel3.conf:/etc/redis/sentinel.conf
#    networks:
#      - app-network
#    depends_on:
#      redis-master:
#        condition: service_healthy
#      redis-slave1:
#        condition: service_started
#      redis-slave2:
#        condition: service_started

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  redis-master-data:
  redis-slave1-data:
  redis-slave2-data: