spring:
  data:
    redis:
      password: ${REDIS_PASSWORD:}
      sentinel:
        master: ${REDIS_SENTINEL_MASTER:mymaster}
        nodes:
          - redis-sentinel-1:26379
          - redis-sentinel-2:26379
          - redis-sentinel-3:26379